{% import "_includes/forms" as forms %}

{% set seoFieldUid = (field.handle ~ '-seo-tabs-' ~ random())|id %}

{% css %}
  .seo-field-tabs .tab-panel.hidden { display: none; }
{% endcss %}

<div id="{{ seoFieldUid }}" class="seo-field-tabs">
  <div class="tabs">
    <a class="tab sel" href="#{{ seoFieldUid }}-general">General</a>
    <a class="tab" href="#{{ seoFieldUid }}-options">Opciones</a>
  </div>

  <div id="{{ seoFieldUid }}-general" class="tab-panel">
    <div class="flex-fields">
      {{ forms.textField({
        label: 'Titulo',
        name: field.handle ~ '[title]',
        value: value.title,
        fieldClass: 'width-50',
      }) }}

      {{ forms.textareaField({
        label: 'Descripcion',
        name: field.handle ~ '[description]',
        value: value.description,
        rows: 3,
        fieldClass: 'width-50',
      }) }}
    </div>

    <div class="flex-fields">
      {{ forms.elementSelectField({
        label: 'Imagen',
        id: field.handle ~ '-image',
        name: field.handle ~ '[imageId][]',
        elementType: 'craft\\\\elements\\\\Asset',
        elements: imageElement ? [imageElement] : [],
        limit: 1,
        sources: '*',
        criteria: { kind: 'image' },
        fieldClass: 'width-50',
      }) }}

      {{ forms.textareaField({
        label: 'Descripcion de imagen',
        name: field.handle ~ '[imageDescription]',
        value: value.imageDescription,
        rows: 3,
        fieldClass: 'width-50',
      }) }}
    </div>
  </div>

  <div id="{{ seoFieldUid }}-options" class="tab-panel hidden">
    <div class="flex-fields">
      {{ forms.lightswitchField({
        label: 'Sitemap: visible',
        name: field.handle ~ '[sitemapEnabled]',
        on: value.sitemapEnabled is same as(false) ? false : true,
        value: 1,
        fieldClass: 'width-50',
      }) }}

      {{ forms.lightswitchField({
        label: 'Sitemap: incluir imagenes',
        name: field.handle ~ '[sitemapIncludeImages]',
        on: value.sitemapIncludeImages is same as(true),
        value: 1,
        fieldClass: 'width-50',
      }) }}
    </div>
  </div>
</div>

{% js %}
  (function() {
    const container = document.getElementById('{{ seoFieldUid|e('js') }}');
    if (!container || typeof Garnish === 'undefined' || typeof Garnish.Tabs !== 'function') {
      return;
    }

    const tabLinks = container.querySelectorAll('.tabs .tab');
    new Garnish.Tabs(tabLinks);
  })();
{% endjs %}
